[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
aiostream = "*"
requests = "*"

[requires]
python_version = "3.8"
